<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
</head>


    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>

     <script src="{% static 'react/browser.min.js' %}"></script>
    <script src="{% static 'react/react.js' %}"></script>
    <script src="{% static 'react/react-dom.js'%}"></script>

    <script src="{% static 'react/react-redux.min.js'%}"></script>
    <script src="{% static 'react/prop-types.min.js'%}"></script>






    <script  src="{% static 'react-timer/components/Time.js'%}"></script>
    <script type="text/babel" src="{% static 'react-timer/components/App.js'%}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'react-timer/components/time.css' %}">






</head>
<body>
<a href="home">home</a>
<h1>datashet</h1>

<div id="app"></div>

</body>
</html>