<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'react/browser.min.js' %}"></script>
    <script src="{% static 'react/react.js' %}"></script>
    <script src="{% static 'react/react-dom.js'%}"></script>

    <script src="{% static 'react/prop-types.min.js'%}"></script>
    <script src="{% static 'react/react-redux.min.js'%}"></script>

     <script src="{% static 'markdown/remarkable.min.js'%}"></script>


     <link rel="stylesheet" type="text/css" href="{%static 'markdown/markdown.css'%}" />
     <script type="text/babel" src="{% static 'markdown/markdown.js'%}"></script>



</head>
<body>
<a href="home">home</a>
<div id="mark"></div>
<div id="markdown"></div>


</body>
</html>


