<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'react/browser.min.js' %}"></script>
    <script src="{% static 'react/react.js' %}"></script>
    <script src="{% static 'react/react-dom.js'%}"></script>

    <script src="{% static 'react/prop-types.min.js'%}"></script>




     <script type="text/babel" src="{% static 'react/App.js'%}"></script>



</head>
<body>
<a href="home">home</a>
<h1>react</h1>
<div id="node"></div>
<div id="node1"></div>

<div id="app1"></div>
<div id="app"></div>
<div id="app-container"></div>
<div id="type"></div>
<div id="api"></div>
<div id="incre"></div>
<div id="text1"></div>
<script type="text/babel">


</script>

</body>
</html>