<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'react/browser.min.js' %}"></script>
    <script src="{% static 'react/react.js' %}"></script>
    <script src="{% static 'react/react-dom.js'%}"></script>

    <script src="{% static 'react/prop-types.min.js'%}"></script>


    <script type="text/babel" src="{% static 'react/watch.js'%}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/watch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/favicon.ico' %}">
</head>
<body>
<a href="home">home</a>

<div id="watch"></div>
</body>
</html>